#menu-btn span {
    transition: transform 0.3s ease, margin 0.3s ease;
}

#menu-btn.open span:nth-child(1) {
    transform: rotate(45deg) translateY(16px);
}

#menu-btn.open span:nth-child(2) {
    opacity: 0; 
    width: 0;
}

#menu-btn.open span:nth-child(3) {
    transform: rotate(-45deg) translateY(-16px); 
}

.active-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -4px; /* Adjust if needed */
    display: block; /* Ensure it's visible */
    width: 100%;
    height: 2px;
    background-color: #ffb700;
    transform: translateX(-50%);
}


.nav-link {
    position: relative;
    transition: color 0.3s ease-in-out;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ffb700;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}


